.contenedor-elemento {
    border: 2px solid rgb(0, 141, 197);
    border-radius: 5px;
    font-size: large;
    padding: 20px;
}

img {
    height: 130px;
    width: auto;
    border-radius: 50%;
    object-fit: contain;
}

.contenedor-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-buttons {
    margin: 20px 0;
}

.iconos-acciones {
    font-size: x-large;
    cursor: pointer;
    margin: 0 20px;
    color: rgb(0, 141, 197);
}

.contenedor-texto {
    margin-left: 45px;
}

.contenedor-texto p {
    color:rgb(0, 141, 197);
    margin: 0;
}

.contenedor-texto i {
    margin-right: 15px;
}